/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
/* Shared Style */
* {
     font-family: "Mulish", sans-serif;
     margin: 0;
    }

header,
 main {
    width: 1170px;
    margin: 0 auto;

 }

 .title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
 }

 .btn-primary{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #ff5400;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
 }

 /* navbar */
 .drop{
    display:none;
 }

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
    margin-bottom: 24px;
 }

 .navbar-title{
    color: #131318;
    font-size: 32px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .navbar-title > img{
    margin-right: 16px;
 }
      
.navbar-travel-text{
    color: #ff5400;
    font-size: 32px;
    font-weight: 800;
}

.navbar-icon{
    display: none;
}

.navbar-link > ul{
    display: flex;
     align-items: center;
    margin-top: 40px;
}
.navbar-link li {
    list-style: none;
    margin-right: 44px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.navbar-link a{
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.navbar-link-home a{
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
    margin-bottom: 24px;
}

.navbar-title {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-title > img {
    margin-right: 16px;
}

.navbar-travel-text {
    color: #ff5400;
    font-size: 32px;
    font-weight: 800;
}

.navbar-icon {
    display: none;
}

.navbar-link > ul {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.navbar-link li {
    list-style: none;
    margin-right: 44px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.navbar-link a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.navbar-link-home a {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */


/* banner */

.ban{
    background-image: linear-gradient(
        180deg,
         rgba(19, 19, 24, 0.8) 0%,
         rgba(19, 19, 24, 0) 100%  
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 500px;
        border-radius: 16px;
        margin-top: 50px;
        margin-bottom: 100px;
        text-align: center;

}

.ban-title{
    padding-top: 106px;
    color: #fff;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
}

.ban-description {
    color: #fff;
    font-family: Mulish;
    font-family: 16px;
    font-weight: 400;
    width: 676px;
    text-align: center;
    margin: 0 auto;
}

.ban-input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    width: 800px;
    height: 84px;
    margin: 64px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#where-go,
#when,
#select-type{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #fff;
    border: 0;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
}

#where-go,
#when,
#select-type:focus {
    outline: none;
}

/* tour */

.tour {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.tour-container{
    margin-right: 70px;

}
.tour-title{
    margin-bottom: 24px;
}

tour-description > span,
li,
span {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 24px;
}
.tour-text-container{
    margin-bottom: 40px;
}

tour-btn {
    margin-top: 100px;
    width: 174px;
    height: 52px;
}





/* choose-destination */

.choose-destination-container{
    text-align: center;
    margin-bottom: 100px;
}

.choose-destination-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: auto auto 48px;
}

.destination-background-image{
    border-radius: 16px;
     height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.destination-background-image > h1 {
    padding-top: 132px;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

.destination-images-part-one{
    display: flex;
    gap: 24px;
}

 .maldives{
    background-image: linear-gradient(
        0deg,
        rgba(19, 19, 24, 0.2) 0%,
        rgba(19, 19, 24, 0.2) 100% ),
        url("../Images/Rectangle\ 5.png");
 }

.indonesia{
    background-image: linear-gradient(
        0deg,
        rgba(19, 19, 24, 0.2) 0%,
        rgba(19, 19, 24, 0.2) 100%
        ),
        url("../Images/Rectangle\ 8.png");
}
.destination-images-part-two{
    display: flex;
    gap: 24px;
    margin: 24px auto 24px;   
}

.srilanka{
    background-image: linear-gradient(
        0deg,
        rgba(19, 19, 24, 0.2) 0%,
        rgba(19, 19, 24, 0.2) 100%
        ),
        url("../Images/Rectangle\ 6.png");
}

.north-america{
    background-image: linear-gradient(
        0deg,
        rgba(19, 19, 24, 0.2) 0%,
        rgba(19, 19, 24, 0.2) 100%
        ),
        url("../Images/Rectangle\ 7.png");
}
.kashmir{
    background-image: linear-gradient(
        0deg,
         rgba(19, 19, 24, 0.2) 0%,
         rgba(19, 19, 24, 0.2) 100%
        ),
         url("../Images/Rectangle\ 9.png");
}
.destination-images-part-three{
    display: flex;
     gap: 24px;
}
.bangladesh{
    background-image: linear-gradient(
        0deg,
        rgba(19, 19, 24, 0.2) 0%,
        rgba(19, 19, 24, 0.2) 100%
        ),
        url("../Images/Rectangle\ 11.png");
}
.bandarban{
    background-image: linear-gradient(
        0deg,
        rgba(19, 19, 24, 0.2) 0%,
        rgba(19, 19, 24, 0.2) 100%
        ),
        url("../Images/Rectangle\ 10.png");
}


/* why choose us */

.why-choose-us-container{
    text-align: center;
    margin-bottom: 100px;
}
.why-choose-us-icon{
    background-position: left;
    
}
.why-choose-us-description{
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.why-choose-us-card{
    text-align: left;
    margin-top: 48px;
}

.card-part-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.card-part-two {
    width: 573px;
    margin: 24px auto 24px;
}

.card-handpicked-hotels{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}
.card-world-service {
    border-radius: 16px;
   border: 1px solid rgba(41, 206, 246, 0.2);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}

.card-best-price {
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    
}


.card-title {
        color: #131318;
        font-size: 24px;
        font-weight: 800;
        margin-top: 32px;
        margin-bottom: 10px;
}

.card-description {
        color: #5a5a5d;
        font-size: 16px;
        font-weight: 400;
        width: 486px;
}


/* deals and discount */
.deals-and-discount-container{
    text-align: center;
    margin-bottom: 200px;
}
.picture-section{
    margin-top: 70px;
    
}
.deals-and-discount-background-image{
    border-radius: 16px;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.clock-people-map{
    
}

.picture-one{
       
        background-image: url("../Images/Group\ 39.png");
        margin-bottom: 20px;
}
.picture-two{
    background-image: url("../Images/Group\ 40.png");
    margin-bottom: 20px;

}
.picture-three{
    background-image: url("../Images/Group\ 39.png");
}
.deals-and-discount-satorini{
    background-color:  rgba(255, 255, 255, 0.80) ;
    justify-content: right;
    display: inline-block;
    margin-top: 50px;
    margin-left: 450px;
    padding: 50px;
    height: 300px;
    width: 450px;
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.deals-and-discount-btn{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 20px;
}

/* Simple Perfect Place To Get Lost */
.a-place-to-get-lost{
    display: flex;
    margin-bottom: 70px;
}
.get-lost-text{
    margin-right: 50px;
}
.get-lost-titile{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 20px;
}
.get-lost-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
.get-lost-bold-text{
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}
.get-lost-btn{
    width: 174px;
    height: 52px;
}


/* Newsletter section */

.newsletter-container {
            display: flex;
            gap: 24px;
            justify-content: space-between;
            margin-bottom: 100px;
}

.newsletter-content {
        border-radius: 16px;
        border: 1px solid #ff5400;
        padding: 40px;
}
.newsletter-title {
     color: #131318;
     font-size: 24px;
    font-weight: 800;
     margin-bottom: 10px;
    margin-top: 0;
}
.newsletter-description {
     color: #5a5a5d;
     font-size: 16px;
     font-weight: 400;
     margin-bottom: 24px;
}
.newsletter-content > hr {
    margin-bottom: 24px;
}
.newsletter-content > button {
    width: 100%;
    font-size: 20px;
}

#newsletter-text,
#newsletter-email {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding-left: 16px;
    border: none;
    font-size: 16px;
}
#newsletter-text,
#newsletter-email:focus {
 outline: none;
}
.newsletter-image {
     position: relative;
}
.newsletter-seventy {
     border-radius: 16px;
     background: #ff5400;
    width: 50%;
     height: 120px;
    transform: rotate(-19.628deg);
    position: absolute;
    right: 0;
    top: 255px;
    left: 325px;
    text-align: center;
}
.newsletter-seventy > h5 {
     color: #fff;
     font-size: 24px;
     font-weight: 400;
     margin-bottom: 0;
     margin-top: 20px;
}
.newsletter-seventy > h4 {
     color: #fff;
     font-size: 32px;
     font-weight: 800;
     margin-top: 0;
}
/* about-us */
.about-us-container{
        text-align: center;
        margin-bottom: 100px;
        

}
.about-us-background-images{
        border-radius: 16px;
        height: 500px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
.about-us-background-images > h1 {
    padding-top: 132px;
    color: purple;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

.about-us{
    margin-top: 70px;
    background-image: url("../Images/about-us.jpg");
}
.about-us-display-section{
    display: flex;
}

/* footer section */
footer {
    background: rgba(19, 19, 24, 0.05);
    height: 500px;
    margin: auto;
    text-align: center;
}

footer > hr {
     width: 872px;
     height: 1px;
     margin: 50px auto;
    background: rgba(19, 19, 24, 0.1);
}

.footer-title-section {
    padding-top: 110px;
     margin-bottom: 24px;
     color: #131318;
     font-size: 32px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-title-section > img {
     margin-right: 16px;
}

.footer-text {
    color: #ff5400;
     font-size: 32px;
    font-weight: 800;
}

.footer-description {
     color: #5a5a5d;
     text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto 33px;
}

.footer-mini-text {
     color: #131318;
     font-size: 16px;
    font-weight: 300;
}






@media screen and (max-width: 600px) {
     header,
    main {
    width: 90%;
}

.title {
     font-size: 20px;
    margin-bottom: 16px;
     text-align: center;
}
/* navbar */
.drop{
    display: flex;
}
.navbar-link {
     display: none;
    }
    .navbar-icon {
     display: block;
     }
     .navbar-icon > img {
     width: 24px;
}
.navbar-title {
    margin-bottom: 0;
}
.navbar-title,
 .navbar-travel-text {
 font-size: 22px;
}

/* banner section */
.ban {
    height: 483px;
     margin-top: 17px;
    margin-bottom: 24px;
 }
 .ban-title {
     font-size: 22px;
     padding-top: 32px;
 }
.ban-description {
   font-size: 14px;
    width: 90%;
    font-weight: 200;
}
.ban-input {
     flex-direction: column;
     width: 90%;
    height: 288px;
    margin-top: 32px;
}
#where-go {
    width: 85%;
}
#when,
#select-type {
 width: 90%;
 }
 .ban-input > button {
   width: 90%;
}

/* tour-section */
.tour {
     flex-direction: column;
     align-items: start;
     gap: 24px;
     margin-bottom: 24px;
}
.tour-container {

 }
.popular-tour > img {
 width: 100%;
 height: 342px;
 }
.popular-tour-title {
     text-align: left;
 }
 .tour-description > span,
  li,
  span {
  font-size: 14px;
  text-align: justify;
  }
  .tour > img{
    width: 100%;
  }



/*choose destination */

.destination-container {
   margin-bottom: 24px;
   text-align: center;
 }

 .destination-description {
   font-size: 14px;
   margin: 0 0 16px 15px;
}

.destination-images-part-one,
.destination-images-part-two,
.destination-images-part-three {
 flex-direction: column;
}

.kashmir, .bangladesh, .north-america, .maldives, .srilanka, .bandarban, .indonesia{
    width: 100%;
}

/* why-choose-us */

.why-choose-us-container {
    text-align: center;
     margin-bottom: 24px;
}
.why-choose-us-description {
    font-size: 14px;
    margin: 0 0 0 15px;
 }

 .why-choose-us-card {
   margin-top: 16px;
 }

 .card-part-one {
     grid-template-columns: repeat(1, 100%);
}
.card-part-two {
     width: 100%;
     margin: 24px 0 0;
 }
 .card-title {
     font-size: 20px;
 }

 .card-description {
    width: 100%;
     height: 120px;
     font-size: 14px;
}

/* a simple place to get lost */
.a-place-to-get-lost{
    flex-direction: column;
    
}
.get-lost-text{
    text-align: center;
     margin-bottom: 24px;
}
.get-lost-image{
    width: 100%;
}

/* newsletter section */

.newsletter-container {
     flex-direction: column;
     width: 100%;
     margin-bottom: 23px;
 }
 .newsletter-content {
     padding: 20px;
 }
 .newsletter-title {
    font-size: 20px;
}
.newsletter-description {
 }
 #newsletter-text,
#newsletter-email {
 width: 90%;
}

.newsletter-content > button {
     width: 94%;
}
.newsletter-image > img {
     width: 100%;
     height: 300px;
}

.newsletter-travel-discount {
     width: 214px;
     height: 80px;
     top: 190px;
     left: 160px;
     display: none;
 }

 .newsletter-travel-discount > h5 {
     font-size: 15px;
}
.newsletter-travel-discount > h4 {
     font-size: 21px;
}


/* footer section */
footer {
    height: 350px;
    width: 100%;
    display: block;
    margin: 0;
}

 footer > hr {
     width: auto;
    margin: 30px auto;
}

.footer-title-section {
    padding-top: 33px;
    text-align: center;
}
.footer-title-section,
.footer-text {
  font-size: 22px;
}

.footer-title-section > img {
    width: 28px;
    margin-right: 14px;
}
.footer-description {
     width: 287px;
    font-size: 14px;
}


}









